* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#carousel {
    position: relative;
    display: inline-flex;
    width: 600px;
    overflow-x: hidden;
    white-space: nowrap;
}

.item {
    margin-left: 0px;
    float: left;
    top: 0;
    left: 0;
    width: 600px;
}

.item img {
    width: 600px;
}

.navigation {
    position: absolute;
    left: calc(50% - 92px);
    left: -webkit-calc(50%-92px);
    left: -moz-calc(50%-92px);
    border-radius: 6px;
    bottom: 20px;
    display: block;
    text-align: center;
    background: #DDDDDD;
    opacity: 0.4;
}

.navigation li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background: red;
    border-radius: 50%;
}

.navigation li.active {
    background: black;
}