* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#carousel {
    display: inline-flex;
    width: 600px;
    overflow-x: hidden;
    white-space: nowrap;
}

.item {
    margin-left: 0px;
    float: left;
    top: 0;
    left: 0;
    width: 600px;
}

.item img {
    width: 600px;
}

.navigation {
    display: block;
    text-align: center;
}

.navigation li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 30px;
    background: red;
    border-radius: 50%;
}

.navigation li.active {
    background: black;
}